@font-face {
  font-family: 'Pacifico';
  src: url(/src/assets/fonts/Pacifico-Regular.ttf);
}

@font-face {
  font-family: 'Quicksand';
  src: url(/src/assets/fonts/Quicksand-Regular.ttf);
}

@font-face {
  font-family: 'EB Garamond';
  src: url(/src/assets/fonts/EBGaramond-Regular.ttf);
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
